<launch>
  <include file="$(find ros_study)/launch/localisation.launch" />
  <node name="vehicle_emu" pkg="ros_study" type="vehicle_emu.py" clear_params="true">
    <param name="publish_tf" value="false"/>
    <param name="publish_odom" value="false"/>
    <param name="gps_err" value="0"/>
    <param name="odom_left_err" value="0.0"/>
    <param name="odom_right_err" value="0.0"/>
    <param name="max_acc_linear" value="10.0"/>
    <param name="max_acc_angular" value="10.0"/>
    <remap from="twist" to="odom/twist"/>
    <remap from="fix" to="gps/fix"/>
    <remap from="imu" to="imu/data"/>
  </node>
</launch>
